@media only screen and (max-width: 3840px) {
    body{
        margin: 0;
        padding: 0
        
    }

    .fondo {
        margin-top: 0px;
        width: 100%;
        height: 100%;
        position: inherit;
        background-color: rgb(219, 217, 217);
    }

/*  Cabecera  */

    header {
        display: flex;
        justify-content: space-between;
        background-color: black;
        position: relative;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .iconC {
        width: 13%;
        position:relative;
    }

    .nav-link{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: 'Handlee', cursive;
        font-size: 1.5vw;
        font-weight: bold;
        justify-content: right;
        margin-right: 10px;
    }

    nav a{
        font-weight: 600;
        padding-right: 15px;
    }

    nav a:hover{
        color: #e59f4a
    }


    .subCabecera{
        font-family:'Yeseva One' ;
        font-size: 1.8vw;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .resumenM{
        background-color: rgb(0, 0, 0);
        width: 100%;
        position: relative;
        height: 0%;
        padding-bottom: 25%;
        margin-bottom: 0px;
        left: 0%;
    }

    .objetoMenu{
        width: 15%;
        color:#fc9211;
        position: relative;
        padding: 0%;
        float: left;
        margin-top: 6%;
        margin-left: 4%;
        text-align: center;
    }

    .tituloMenu{
        position: relative;
        font-size: 1.6vw;
        font-family: 'Handlee';
        font-weight: bold;
    }

    .imgObjeto{
        position: relative;
        width: 65%;
        margin: 0%;
        padding: 0%;
        border-radius: 13%;
    }



    /* Burguers */

    .menuHamburguesa{
        background-color: #fa9417;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloH{
        margin-top: 2%;
        text-align: center;
        font-size: 3.4vw;
        position: relative;
    }

    .desH{
        font-family: 'Cuprum', sans-serif;
        font-size: 1.4vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .notaH{
        font-family: 'Cuprum', sans-serif;
        text-decoration: underline;
        font-size: 1.2vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

#bebida{
    float: left;
}

    .notaH{
        font-family: 'Cuprum', sans-serif;
        text-decoration: underline;
        font-size: 1.2vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .precioH{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 1.8vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -6%;
        padding: 0;
    }

    /* Tierra y mar */

    .menuTM{
        background-color: #ffffff;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloTM{
        margin-top: 2%;
        margin-left: 37%;
        font-size: 3.4vw;
        position: relative;
    }

    .contenedorTM{
        background-color: #fa9417;
        border-color: #000000;
        border-width: 1%;
        border-style: solid;
        width: 42%;
        margin-top: 1%;
        margin-left: 4%;
        margin-bottom: 3%;
        padding: 1%;
        position: relative;
        float: left;
        box-shadow: 10px 10px rgb(0, 0, 0);
    }

    .nombreTM{
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.8vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
    }

    .desTM{
        font-family: 'Cuprum', sans-serif;
        font-size: 1.4vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .notaTM{
        font-family: 'Cuprum', sans-serif;
        text-decoration: underline;
        font-size: 1.2vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .precioTM{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 1.8vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -6%;
        padding: 0;
    }

    /* Boneless */

    .menuBB{
        background-color: #000000;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloBB{
        margin-top: 2%;
        margin-left: 37%;
        font-size: 3.4vw;
        position: relative;
        color: white;
    }

    .contenedorBB{
        background-color: #fa9417;
        width: 42%;
        margin-top: 1%;
        margin-left: 4%;
        margin-bottom: 3%;
        padding: 1%;
        position: relative;
        float: left;
       
    }

    .nombreBB{
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.8vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
    }

    .desBB{
        font-family: 'Cuprum', sans-serif;
        font-size: 1.4vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .notaBB{
        font-family: 'Cuprum', sans-serif;
        text-decoration: underline;
        font-size: 1.2vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .precioBB{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 1.8vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -6%;
        padding: 0;
    }

    /* Hog dog */

    .menuHD{
        background-color: #fa9417;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloHD{
        background-color: #ffffff;
        margin-top: 2%;
        margin-left: 41%;
        margin-right: 41%;
        padding: .5%;
        font-size: 3.4vw;
        position: relative;
        color: #fa9417;
        border-radius: 15px;
    }

    .contenedorHD{
        width: 38%;
        margin-top: 1%;
        margin-left: 9%;
        margin-bottom: 3%;
        padding: 1%;
        position: relative;
        float: left;
       
    }

    .nombreHD{
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.8vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
    }

    .desHD{
        font-family: 'Cuprum', sans-serif;
        font-size: 1.4vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .notaHD{
        font-family: 'Cuprum', sans-serif;
        text-decoration: underline;
        font-size: 1.2vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .precioHD{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 1.8vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -6%;
        padding: 0;
    }

    /* Tierra y mar */

    .menuTM{
        background-color: #ffffff;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

#snacks{
    float: left;
}

#bebida{
    float: left;
}

    .notaH{
        font-family: 'Cuprum', sans-serif;
        text-decoration: underline;
        font-size: 1.2vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .precioH{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 1.8vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -6%;
        padding: 0;
    }

}