body{
    margin: 0;
}
.fondo {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    position: inherit;
    background-color: rgb(219, 217, 217);
}
.cabecera {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 12%;
}


/*  Texto    */ 

.inicioC{

}


/* Iconos e imagenes */

.iconC {
    top: 0px;
    width: 100px;
    height: 100px;
    position: absolute;
}