@media only screen and (max-width: 3840px) {
    body{
        margin: 0;
        padding: 0
        
    }

    .fondo {
        margin-top: 0px;
        width: 100%;
        height: 100%;
        position: inherit;
        background-color: rgb(219, 217, 217);
    }

/*  Cabecera  */

    header {
        display: flex;
        justify-content: space-between;
        background-color: black;
        position: relative;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .iconC {
        width: 13%;
        padding: .2%;
        position:relative;
    }

    .nav-link{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: 'Handlee', cursive;
        font-size: 1.7vw;
        font-weight: bold;
        justify-content: right;
        margin-right: 10px;
    }    

/*   Slide    */
   
    .slide-contenedor{
        max-width:100%;
        margin-bottom: 2%;
        width: 100%;
        height:auto;
        top: 10%;
        position: relative;
        /* margin: auto; */
    }
    
    .miSlider img{
        width: 100%;
        max-height: 100vh;
        height: inherit;
        object-fit: cover;
        vertical-align: top;
        transition: 2s;
        position: relative;
    }
    
    .direcciones{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }

    .direcciones a{
        color: #fff;
        display: inline-block;
        padding: 20px;
        text-decoration: none;
    }
    
    .direcciones a:hover{
        background: rgba(0, 0, 0, .5);
        transition: .5s;
    }
    
    .barras{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom:15px;
    }
    
    .barra{
        cursor: pointer;
        height:2px;
        width: 25px;
        margin: 0 2px;
        background: #dcdde1;
        display: inline-block;
        margin-left: 3px;
    }
    
    .active{
        background-color: #e74c3c;
    }
    
    .fade{
        animation-name: fade;
        animation-duration: 1.5s;    
    }
    
    @keyframes fade {
        from {opacity: .4;}
        to{opacity:1;}
    }

    /*  Anuncios  */

    .cuadrado{
        position: relative;
        left: 5%;
        width: 90%;
        height: 100px ;
        background-color: #e74c3c;
    }

    
    .imgUber{
        width: 100%;
        position: relative;
    }

    .botonUber{
        width: 15%;
        margin-top: -7%;
        margin-left: 16%;
        padding: 0%;
        position: relative;
        background-color: white;
        border: none;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        float: left;
    }

    .botonRappi{
        width: 15%;
        margin-top: -7%;
        margin-left: 37%;
        padding: 0%;
        position: relative;
        background-color: white;
        border: none;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        float: left;
    }

    .uber{
        float: left;
    }

    .textUber{
        text-align: center;
        font-size: 1.8vw;
        margin: 0%;
        padding: 0%;
        font-family: 'PT Mono', monospace;
    }
    
    .textRappi{
        text-align: center;
        margin: 0%;
        padding: 0%;
        font-size: 2vw;
        font-family: 'PT Mono', monospace;
    } 

    /* Iconos e imagenes */
    nav a{
        font-weight: 600;
        padding-right: 15px;
    }

    nav a:hover{
        color: #e59f4a
    }
  
}
@media (max-width: 849px) {
    body{
        margin: 0;
        padding: 0
        
    }

    .fondo {
        margin-top: 0px;
        width: 100%;
        height: 100%;
        position: inherit;
        background-color: rgb(219, 217, 217);
    }

/*  Cabecera  */

    header {
        display: flex;
        justify-content: space-between;
        background-color: black;
        position: relative;
        width: 100%;
        height: auto;
    }

    .iconC {
        width: 30%;
        position:relative;
    }

    .nav-link{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: 'Handlee', cursive;
        font-size: 3vw;
        font-weight: bold;
        justify-content: right;
        margin-right: 1px;
    }

/*   Slide    */
   
    .slide-contenedor{
        max-width:100%;
        margin-bottom: 2%;
        width: 100%;
        height:auto;
        top: 10%;
        position: relative;
        /* margin: auto; */
    }
    
    .miSlider img{
        width: 100%;
        max-height: 100vh;
        height: inherit;
        object-fit: cover;
        vertical-align: top;
        transition: 2s;
        position: relative;
    }
    
    .direcciones{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }

    .direcciones a{
        color: #fff;
        display: inline-block;
        padding: 20px;
        text-decoration: none;
    }
    
    .direcciones a:hover{
        background: rgba(0, 0, 0, .5);
        transition: .5s;
    }
    
    .barras{
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom:15px;
    }
    
    .barra{
        cursor: pointer;
        height:2px;
        width: 25px;
        margin: 0 2px;
        background: #dcdde1;
        display: inline-block;
        margin-left: 3px;
    }
    
    .active{
        background-color: #e74c3c;
    }
    
    .fade{
        animation-name: fade;
        animation-duration: 1.5s;    
    }
    
    @keyframes fade {
        from {opacity: .4;}
        to{opacity:1;}
    }

    /*  Anuncios  */

    .cuadrado{
        position: relative;
        left: 5%;
        width: 90%;
        height: 100px ;
        background-color: #e74c3c;
    }

    
    .imgUber{
        width: 100%;
        position: relative;
    }

    .botonUber{
        width: 15%;
        margin-top: -7%;
        margin-left: 16%;
        padding: 0%;
        position: relative;
        background-color: white;
        border: none;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        float: left;
    }

    .botonRappi{
        width: 15%;
        margin-top: -7%;
        margin-left: 37%;
        padding: 0%;
        position: relative;
        background-color: white;
        border: none;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        float: left;
    }

    .uber{
        float: left;
    }

    .textUber{
        text-align: center;
        font-size: 1.8vw;
        margin: 0%;
        padding: 0%;
        font-family: 'PT Mono', monospace;
    }
    
    .textRappi{
        text-align: center;
        margin: 0%;
        padding: 0%;
        font-size: 2vw;
        font-family: 'PT Mono', monospace;
    } 

    /* Iconos e imagenes */
    nav a{
        font-weight: 600;
        padding-right: 15px;
    }

    nav a:hover{
        color: #e59f4a
    }
  
}