body{
    margin: 0;
}
.fondo {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    position: inherit;
    background-color: rgb(219, 217, 217);
}



/*  Cabecera  */
@media only screen and (max-width: 3840px) {
    header {
        display: flex;
        justify-content: space-between;
        background-color: black;
        position: absolute;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .iconC {
        width: 13%;
        position:relative;
    }

    .nav-link{
        text-decoration: none;
        color: white;
        font-family: 'Handlee', cursive;
        font-size: 120%;
        font-weight: bold;
        justify-content: right;
    }
}



/*   Slide    */
.contenido{
    display: flex;
    width: 100%;
    height: 197px;
    display: flex;
    flex-shrink: 0;
    background-color: rgb(245, 245, 245);
}

.whatss{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 0px;
}

@media only screen and (max-width: 3840px) {
    .img1 {
      width: 100%;
    }
}

.whatss2{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 1366px;
}

.img2{
    width: 1366px;
    height: 470px;
}

.whatss3{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 2732px;
}

.img3{
    width: 1366px;
    height: 470px;
}


/*  Texto    */ 

#inicioC{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: 'Handlee', cursive;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 200px;
}

.general{    
    height: 700px;
}

#map{
    margin-right: 100px;
    float: right;
    box-shadow: 10px 10px 10px black;
}

#ubicacionC{    
    padding-top: 90px;
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: bold;    
    font-family: 'Handlee', cursive;
    background: linear-gradient(to bottom, rgb(0 0 0/ .75), rgb(0 0 0/ .60 )),
    url("hamburguesa.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 570px;
}

#infoU{
    margin-left: 70px;
    background-color: #fff;
    border-radius: 10px;
    width: 420px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    opacity: 0.8;
    box-shadow: 10px 10px 10px black;
}

#horarios{
    background-color: #e59f4a;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    opacity: 0.8;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 70px;
    width: 420px;
    box-shadow: 10px 10px 10px black;
}

/* Iconos e imagenes */
nav a{
    font-weight: 600;
    padding-right: 15px;
}

nav a:hover{
    color: #e59f4a
}
/* comentario*/