.footer{
    color: white;
    width: 100%;
    background-color: black;
}

.grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15%;
    padding: 1%;
    font-family: 'Cormorant Garamond', serif;
}

.grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grupo1 .box figure img{
    width: 100%;
}

.grupo1 .box h2{
    color: #e59f4a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.redSocial a{
    display: inline-block;
    text-decoration: none;
    padding: 0.8%;
    text-align: center;

}

.grupo2{
    background-color: #e59f4a;
    padding: 2% 1%;
    text-align: center;
    color: black;
} 

.grupo2 small{
    font-size: 1.3vw;
    font-family: 'Cormorant Garamond', serif;
}