.fondo {
    margin: 0px;
    left: 100%;
    width: 60%;
    height: 240%;
    position: absolute;
    background-color: rgb(204, 12, 12);
}
.cabecera {
    background-color: black;
    position: absolute;
    margin: 0%;
    
}
