@media (min-width: 850px) {
    
    .subCabecera{
        font-family:'Yeseva One' ;
        font-size: 1.8vw;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .resumenM{
        background-color: rgb(0, 0, 0);
        width: 100%;
        position: relative;
        height: 0%;
        padding-bottom: 25%;
        margin-bottom: 0px;
        left: 0%;
    }

    .objetoMenu{
        width: 15%;
        color:#fc9211;
        position: relative;
        padding: 0%;
        float: left;
        margin-top: 6%;
        margin-left: 1.4%;
        text-align: center;
    }

    .tituloMenu{
        position: relative;
        font-size: 1.6vw;
        font-family: 'Handlee';
        font-weight: bold;
    }

    .imgObjeto{
        position: relative;
        width: 65%;
        margin: 0%;
        padding: 0%;
        border-radius: 13%;
    }



    /* Burguers */

    .imgH{
        width: 100%;
        position: relative;
    }

    .imgLH{
        width: 7%;
        border-radius: 50px;
        position: relative;
        margin-top: -3%;
        margin-left: 47%;
    }
    .menuHamburguesa{
        background-color: #fa9417;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 0%;
        padding-bottom: 3%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloH{
        margin-top: 2%;
        text-align: center;
        font-size: 3.4vw;
        position: relative;
    }

    .contenedorH{
        background-color: rgb(245, 244, 244);
        width: 42%;
        margin-top: 1%;
        margin-left: 4%;
        margin-bottom: 1%;
        padding: 1%;
        position: relative;
        float: left;
        box-shadow: 10px 10px;
    }

    .nombreH{
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.8vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
    }

    .desH{
        font-family: 'Cuprum', sans-serif;
        font-size: 1.4vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .notaH{
        font-family: 'Cuprum', sans-serif;
        text-decoration: underline;
        font-size: 1.2vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .precioH{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 1.8vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -6%;
        padding: 0;
    }

    /* Tierra y mar */

    .menuTM{
        background-color: #ffffff;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloTM{
        margin-top: 2%;
        text-align: center;
        font-size: 3.4vw;
        position: relative;
    }

    .contenedorTM{
        background-color: #fa9417;
        border-color: #000000;
        border-width: 1%;
        border-style: solid;
        width: 42%;
        margin-top: 1%;
        margin-left: 4%;
        margin-bottom: 3%;
        padding: 1%;
        position: relative;
        float: left;
        box-shadow: 10px 10px rgb(0, 0, 0);
    }

    .nombreTM{
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.8vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
    }

    .desTM{
        font-family: 'Cuprum', sans-serif;
        font-size: 1.4vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .notaTM{
        font-family: 'Cuprum', sans-serif;
        text-decoration: underline;
        font-size: 1.2vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .precioTM{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 1.8vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -6%;
        padding: 0;
    }

    /* Boneless */

    .menuBB{
        background-color: #000000;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloBB{
        margin-top: 2%;
        margin-bottom: 0%;
        text-align: center;
        font-size: 3.4vw;
        position: relative;
        color: white;
    }

    .contenedorBB{
        width: 64%;
        margin-top: 1%;
        margin-left: 16%;
        margin-bottom: 3%;
        padding: 1%;
        position: relative;
        float: left;
       
    }

    .nombreBB{
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.8vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
        color: white;
    }

    .desBB{
        font-family: 'Cuprum', sans-serif;
        font-size: 1.4vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
        color: white;
    }

    .notaBB{
        font-family: 'Cuprum', sans-serif;
        text-decoration: underline;
        font-size: 1.2vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
        color: white;
    }

    .precioBB{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 1.8vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -3.5%;
        padding: 0;
        color: white;
    }

    /* Hog dog */

    .menuHD{
        background-color: #b90101;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloHD{
        margin-top: 2%;
        text-align: center;
        padding: .5%;
        font-size: 3.4vw;
        position: relative;
        color: #ffffff;
        border-radius: 15px;
    }

    .contenedorHD{
        width: 34%;
        margin-top: 1%;
        margin-left: 9%;
        margin-bottom: 3%;
        padding: 1%;
        position: relative;
        float: left;
       
    }

    .nombreHD{
        font-family: 'Cormorant Garamond', serif;
        font-size: 1.8vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
        color: #ffffff;
    }

    .desHD{
        font-family: 'Cuprum', sans-serif;
        font-size: 1.4vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
        color: #ffffff;
    }

    .notaHD{
        font-family: 'Cuprum', sans-serif;
        text-decoration: underline;
        font-size: 1.2vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
        color: #ffffff;
    }

    .precioHD{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 1.8vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -6%;
        padding: 0;
        color: #ffffff;
    }

    /* Snacks   */

    .menuS{
        background-color: #fa9417;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloS{
        margin-top: 2%;
        text-align: center;
        padding: .5%;
        font-size: 3.4vw;
        position: relative;
        color: #000000;
        border-radius: 15px;
    }

    .contenedorTS{
        border-color: #000000;
        border-style: solid;
        width: 80%;
        margin-left: 10%;
        padding-bottom: 22%;
        margin-bottom: 3%;
        position: relative;
        
    }

    .contenedorS{
        width: 34%;
        margin-top: 1%;
        margin-left: 9%;
        margin-bottom: 3%;
        padding: 1%;
        position: relative;
        text-align: center;
        float: left;
    }

    .nombreS{
        font-family: 'Cormorant Garamond', serif;
        font-size: 2.7vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
        color: #000000;
    }

    .precioS{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bolder;
        font-size: 2.9vw;
        position: relative;
        margin: 0%;
        padding: 0;
        color: #000000;
    }

    /* bebidas */

    .menuB{
        background-color: #000000;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloB{
        margin-top: 2%;
        text-align: center;
        padding: .5%;
        font-size: 3.4vw;
        position: relative;
        color: #ffffff;
        border-radius: 15px;
    }

    .contenedorB{
        width: 28%;
        margin-top: 1%;
        margin-left: 4%;
        margin-bottom: 3%;
        padding: 0;
        position: relative;
        text-align: center;
        float: left;
    }

    .nombreB{
        font-family: 'Cormorant Garamond', serif;
        font-size: 2.7vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
        color: #ffffff;
    }

    .precioB{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bolder;
        font-size: 2.9vw;
        position: relative;
        margin: 0%;
        padding: 0;
        color: #ffffff;
    }

    /*flecha */

    .iconFA{
        display:scroll;
        position:fixed;
        bottom: 2%;
        right: 1%;
        font-size: 32px;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        transform: rotate(-90deg);
    }

}
@media (max-width: 849px) {
    
    .subCabecera{
        font-family:'Yeseva One' ;
        font-size: 4vw;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .resumenM{
        background-color: rgb(0, 0, 0);
        width: 100%;
        position: relative;
        height: 0%;
        padding-bottom: 165%;
        margin-bottom: 0px;
        left: 0%;
    }

    .objetoMenu{
        width: 50%;
        color:#fc9211;
        position: relative;
        padding: 0%;
        float: left;
        margin-top: 6%;
        margin-left: -.5%;
        text-align: center;
    }

    .tituloMenu{
        position: relative;
        font-size: 4.6vw;
        font-family: 'Handlee';
        font-weight: bold;
    }

    .imgObjeto{
        position: relative;
        width: 65%;
        margin: 0%;
        padding: 0%;
        border-radius: 13%;
    }



    /* Burguers */

    .imgH{
        width: 100%;
        position: relative;
    }

    .imgLH{
        width: 7%;
        border-radius: 50px;
        position: relative;
        margin-top: -5%;
        margin-left: 47%;
    }
    .menuHamburguesa{
        background-color: #fa9417;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 0%;
        padding-bottom: 3%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloH{
        margin-top: 2%;
        text-align: center;
        font-size: 7vw;
        position: relative;
    }

    .contenedorH{
        background-color: rgb(245, 244, 244);
        width: 77%;
        margin-top: 1%;
        margin-left: 10%;
        margin-bottom: 2%;
        padding: 1%;
        position: relative;
        float: left;
        box-shadow: 4px 4px;
    }

    .nombreH{
        font-family: 'Cormorant Garamond', serif;
        font-size: 3.6vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
    }

    .desH{
        font-family: 'Cuprum', sans-serif;
        font-size: 3vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .notaH{
        font-family: 'Cuprum', sans-serif;
        text-decoration: underline;
        font-size: 2.5vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .precioH{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 3.6vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -7%;
        padding: 0;
    }

    /* Tierra y mar */

    .menuTM{
        background-color: #ffffff;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        padding-bottom: 2%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloTM{
        margin-top: 2%;
        text-align: center;
        font-size: 7vw;
        position: relative;
    }

    .contenedorTM{
        background-color: #fa9417;
        border-color: #000000;
        border-width: 1%;
        border-style: solid;
        width: 77%;
        margin-top: 1%;
        margin-left: 10%;
        margin-bottom: 3%;
        padding: 1%;
        position: relative;
        float: left;
        box-shadow: 4px 4px rgb(0, 0, 0);
    }

    .nombreTM{
        font-family: 'Cormorant Garamond', serif;
        font-size: 3.6vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
    }

    .desTM{
        font-family: 'Cuprum', sans-serif;
        font-size: 3vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
    }

    .precioTM{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 3.6vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -7%;
        padding: 0;
    }

    /* Boneless */

    .menuBB{
        background-color: #000000;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        padding-bottom: 2%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloBB{
        margin-top: 2%;
        margin-bottom: 0%;
        text-align: center;
        font-size: 7vw;
        position: relative;
        color: white;
    }

    .contenedorBB{
        width: 77%;
        margin-top: 2%;
        margin-left: 10%;
        margin-bottom: 1%;
        padding: 1%;
        position: relative;
        float: left;
       
    }

    .nombreBB{
        font-family: 'Cormorant Garamond', serif;
        font-size: 3.6vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
        color: white;
    }

    .desBB{
        font-family: 'Cuprum', sans-serif;
        font-size: 3vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
        color: white;
    }

    .precioBB{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 3.6vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -6%;
        padding: 0;
        color: white;
    }

    /* Hog dog */

    .menuHD{
        background-color: #b90101;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloHD{
        margin-top: 2%;
        text-align: center;
        padding: .5%;
        font-size: 7vw;
        position: relative;
        color: #ffffff;
        border-radius: 15px;
    }

    .contenedorHD{
        width: 38%;
        margin-top: 1%;
        margin-left: 6%;
        margin-bottom: 3%;
        padding: 1%;
        position: relative;
        float: left;
       
    }

    .nombreHD{
        font-family: 'Cormorant Garamond', serif;
        font-size: 3.6vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
        color: #ffffff;
    }

    .desHD{
        font-family: 'Cuprum', sans-serif;
        font-size: 3vw;
        position: relative;
        padding: 0;
        margin-bottom: 0;
        color: #ffffff;
    }

    .precioHD{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        font-size: 3.6vw;
        position: relative;
        float: right;
        margin: 0%;
        margin-top: -13%;
        padding: 0;
        color: #ffffff;
    }

    /* Snacks   */

    .menuS{
        background-color: #fa9417;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloS{
        margin-top: 2%;
        text-align: center;
        padding: .5%;
        font-size: 7vw;
        position: relative;
        color: #000000;
        border-radius: 15px;
    }

    .contenedorTS{
        border-color: #000000;
        border-style: solid;
        width: 90%;
        margin-left: 4%;
        padding-bottom: 33%;
        margin-bottom: 3%;
        position: relative;
        
    }

    .contenedorS{
        width: 34%;
        margin-top: 1%;
        margin-left: 9%;
        margin-bottom: 3%;
        padding: 1%;
        position: relative;
        text-align: center;
        float: left;
    }

    .nombreS{
        font-family: 'Cormorant Garamond', serif;
        font-size: 3.8vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
        color: #000000;
    }

    .precioS{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bolder;
        font-size: 6vw;
        position: relative;
        margin: 0%;
        padding: 0;
        color: #000000;
    }

    /* bebidas */

    .menuB{
        background-color: #000000;
        font-family:'Yeseva One' ;
        position: relative;
        padding-top: 1%;
        width: 100%;
        padding-left: 0%;
        float: left;
    }

    .tituloB{
        margin-top: 2%;
        text-align: center;
        padding: .5%;
        font-size: 7vw;
        position: relative;
        color: #ffffff;
        border-radius: 15px;
    }

    .contenedorB{
        width: 30%;
        margin-top: 1%;
        margin-left: 2%;
        margin-bottom: 3%;
        padding: 0;
        position: relative;
        text-align: center;
        float: left;
    }

    .nombreB{
        font-family: 'Cormorant Garamond', serif;
        font-size: 3.8vw;
        font-weight: bold;
        position: relative;
        padding: 0;
        margin: 0%;
        color: #ffffff;
    }

    .precioB{
        padding: 0;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bolder;
        font-size: 6vw;
        position: relative;
        margin: 0%;
        padding: 0;
        color: #ffffff;
    }

    /*flecha */

    .iconFA{
        display:scroll;
        position:fixed;
        bottom: 2%;
        right: 1%;
        font-size: 32px;
        color: #fff;
        display: inline-block;
        text-decoration: none;
        transform: rotate(-90deg);
    }

}